.navBar {
  height: 80px;
  display: flex;
  background: #181818;
  align-items: center;
  width: 100vw;
  position: fixed;
}

.logo {
  height: 60px;
  margin-left: 10px;
  border-radius: 20px;
}

.nav__menu span {
  display: none;
}
.nav__menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-family: "Roboto";
}
@media screen and (max-width: 762px) {
  a {
    font-size: 16px;
  }
  .nav__menu {
    column-gap: 0.8rem;
  }
  .navBar {
    height: 140px;
    background-color: transparent;
  }
  .logo {
    margin-left: 20px;
    height: 100px;
  }
  h1 {
    text-align: center;
  }
  .nav__menu.active {
    position: relative;
    margin: 5px;

    background-color: #181818;
    flex-direction: column;
    row-gap: 5px;
    width: 140px;
    justify-content: center;
    align-items: center;
    padding: 5px;

    background: #111111;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.85),
      inset 8px 8px 20px rgba(0, 0, 0, 0.35),
      inset -8px -8px 44px rgba(0, 0, 0, 0.85);
    border-radius: 10px;
  }
  .nav__menu.off {
    display: none;
  }
  .nav__menu span {
    display: inline;
    position: relative;
  }
  .logo.off {
    display: none;
  }
}
