.navBar {
  height: 80px;
  display: flex;
  background: #181818;
  align-items: center;
  width: 100vw;
  position: fixed;
}

.logo {
  height: 60px;
  margin-left: 10px;
  border-radius: 20px;
}
.nav__menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  letter-spacing: 0.1em;
  font-family: "Roboto";
}
@media screen and (max-width: 762px) {
  a {
    font-size: 16px;
  }
  .nav__menu {
    column-gap: 0.8rem;
  }
  .navBar {
    height: 60px;
  }
  .logo {
    height: 50px;
  }
  h1 {
    text-align: center;
  }
}
