* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
}
.App {
  width: 100vw;
  height: auto;
  background-color: #222;
}
h2 {
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
  font-size: 36px;
}
.kapcs {
  margin-bottom: 80px;
}
.szak {
  margin-top: 80px;
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .szak {
    margin-bottom: 25px;
  }
}
.kapcs {
  margin-bottom: 25px;
}
